html {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #f0fdfe, #b3e5fc, #e2fbfe, #b2d8d8, #66b2b2);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    font-family: "Helvetica Neue", sans-serif;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
body {
  margin: 0;
  font-size: 12px;
  font-family: "Karla", sans-serif;
  line-height: normal;
  color: #333333;
  background-color: #ffffff;
}
img{
  width: 400px;
	height: 290px;
  border-radius: 10px
}


.break {
  height: 100px;
  background: linear-gradient(45deg, #f0fdfe, #b3e5fc, #e2fbfe, #b2d8d8, #66b2b2);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

.break-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(45deg, #f0fdfe, #b3e5fc, #e2fbfe, #b2d8d8, #66b2b2);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  z-index: 5;
}

.prof-box {
	width: 400px;
	height: 400px;
	background: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
	padding: 40px;
	color: white;
	margin: 0 auto;
	text-align: center;
  border-radius: 50px;

}

.aligncenter{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 900px;
  grid-gap: 20px;
  background: linear-gradient(45deg, #f1f8e9, #dcedc8, #c5e1a5, #aed581, #9ad3bc);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
  border-radius: 20px
}

.grid-child {
  padding: 20px;
  border-radius: 20px
}


h1 {
  color: black;
	font-weight: 100;
	letter-spacing: 8;
	font-size: 40px;
}

h2 {
  color: white;
  font-weight: 300;
  letter-spacing: 1;
}

h3 {
  color: white;
  font-weight: 300;
  letter-spacing: 1;
}


h4 {
  color: #333333;
	font-weight: 100;
	letter-spacing: 8;
	font-size: 40px;
  text-align: center;
  width: 380px;
  margin: 40px auto;
}

h5 {
color: black;
	font-weight: 450;
	letter-spacing: 1;
}

.skill {
  border: 1px solid #DB7093;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.org {
  border: 1px solid #DB7093;
  background-color: #DB7093;
  color: white;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 14px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

p {
  color: black;
	font-weight: 300;
	letter-spacing: 1;
}

li {
 font-weight: 300;
 letter-spacing: 1;
}

.toc-holder {
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 100;
}

.toc-holder a {
  text-decoration: none;
  color: #191970;
}

.toc-holder li{
  display: inline-block;
  padding-right: 30px;
  padding-top: 40px;
  font-weight: 100;
	letter-spacing: 4;
	font-size: 15px;
}


.recipe-image {
  width: 300px;
  height: 400px;
}

.social-icons{
  color: #040100;
	font-size: 40px;
}

.social-icons a {
  color: #d6e0f2;

}

.line-break {
  color: pink;
	width: 380px;
	margin: 0 auto;
	border-top: 1px solid black;
}

@-webkit-keyframes color-change {
    0% { color: #bfe1fd; }
    50% { color: #d2dde6; }
    100% { color: #fbdfff; }
}

@-ms-keyframes color-change {
  0% { color: #bfe1fd; }
  50% { color: #d2dde6; }
  100% { color: #fbdfff; }
}
@-o-keyframes color-change {
  0% { color: #bfe1fd; }
  50% { color: #d2dde6; }
  100% { color: #fbdfff; }
}
@keyframes color-change {
  0% { color: #bfe1fd; }
  50% { color: #d2dde6; }
  100% { color: #fbdfff; }
}
